<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>

<div id="gallery" class="unshow">
  <div id="gallery-top">
    <button class="gallery-btn">
      <i class="closeIcon material-icons">close</i>
    </button>
  </div>

  <div id="gallery-content">
    <button class="prev-btn gallery-btn">
      <i class="material-symbols-outlined">chevron_left</i>
    </button>
    <img src="" />
    <button class="next-btn gallery-btn">
      <i class="material-symbols-outlined">chevron_right</i>
    </button>
  </div>

  <div id="gallery-title"><p></p></div>
</div>

<script src="../../../static/scripts/gallery.js"></script>
