/* Local imports */
@import "components/_utils";

/* Import components */
@import "components/_navbar";
@import "components/_dropdown";
@import "components/_card";

/* Import pages */
@import "home";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 1300px;
}

#main {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}