/* Local imports */
@import "utils";

/* Home page components */
@import "components/home-page/big-text";
@import "components/home-page/sec_1";
@import "components/home-page/sec_2";
@import "components/home-page/sec_3";
@import "components/home-page/sec_4";
@import "components/home-page/projects-list";
@import "components/home-page/sponsors-line";

/* Contact page components */
@import "components/contact-page/contact-form";

/* Generic project page components */
@import "components/project-page/title-sec";
@import "components/project-page/proj-imgs";
@import "components/project-page/proj-desc";
@import "components/project-page/proj-params";
@import "components/project-page/proj-bps";

/* Projects cataloque page components */
// @import "components/cataloque/project-card";
// @import "components/cataloque/list";

/* Import common components, that may be found
 * in many places of the prject */
@import "components/common/section-heading";
@import "components/common/link-btn";
@import "components/common/block";
@import "components/common/content-line";
@import "components/common/navbar";
@import "components/common/dropdown";
@import "components/common/footer";
@import "components/common/big-image";
@import "components/common/cookies-box.scss";

/* Import pages */
@import "home";
// @import "contact";
// @import "about";
@import "clt-tech";
@import "stone-houses";
@import "project-page";
@import "projects-page";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

html,
body {
  position: relative;

  height: 100%;
}

main {
  @include padding-y(140px);

  display: flex;
  flex-direction: column;
}

/* Mobile */
@media (min-width: 300px) {
  .page-section {
    @include margin-y(80px);
  }
}

/* Small Desktop */
@media (min-width: 769px) {
  .page-section {
    @include margin-y(100px);
  }
}

/* Large desktops */
@media (min-width: 1025px) {
  .page-section {
    @include margin-y(120px);
  }
}

/* TVs and extra large screens */
@media (min-width: 1201px) {
  .page-section {
    @include margin-y(160px);
  }
}
