{% extends "base.html" %} {% block title %}<title>
  CLT Технологія - Babylon</title
>{% endblock %} {% block content %}
<main id="clt-tech-page">
  <section class="main-image">
    <h1 class="section-heading">ІННОВАЦІЙНА ТЕХНОЛОГІЯ CLT</h1>
  </section>

  <!-- Import the page content builder algorithm -->
  <script src="../static/scripts/content-builder.js"></script>

  <script>
    currentPageID = "clt-tech-page";

    // The main components of this page are - blocks and thin lines

    addBlock(
      "../static/assets/clt-tech-1.jpg",
      "Що таке CLT",
      [
        "CLT (англ. Cross-Laminated Timber) – це будівельний матеріал – клеєна багатошарова деревина з перехресним розташуванням шарів. Панелі CLT складаються з трьох, п’яти, семи або дев’яти шарів деревини хвойних порід. Вони поєднуються між собою конструкційними клеями, утворюючи цілісну панель, із винятковою міцністю та жорсткістю. Ця перехресно-шарова структура забезпечує стійкість до деформації або усадки.",
        "До того ж, збірка будівлі з CLT відбувається легко та швидко! Усе що вам знадобиться, це лише команда з 2-4 осіб, 1 кран, мінімальний набір інструментів і менше ніж тиждень роботи на місці – і ваш новий будинок стане живим втіленням вашої уяви!",
      ],
      "l",
      "movable-left"
    );

    addLine(
      "../static/assets/clt-house-2.jpg",
      "Вогнестійкість",
      "СLT панелі відповідають усім пожежним будівельним нормам. Результати випробувань: REI 60, REI 120, М0."
    );
  </script>

  <section class="main-image">
    <h1 class="section-heading">ПЕРЕВАГИ</h1>
  </section>

  <script>
    addBlock(
      "../static/assets/clt-tech-2.jpg",
      "Конструкція стін будинків",
      [
        "Процес виготовлення включає в себе кілька етапів:",
        "1. Спочатку, дерев’яні дошки підготовлюють і сушать у спеціальних камерах, для досягнення відповідної вологості 10% (+/- 2%).",
        "2. Потім вони зрощуються, обрізаються точно за розміром і укладаються одна на одну, з нанесенням клею між кожним шаром.",
        "3. Наступним кроком є використання гідравлічного пресу, для з’єднання шарів під високим тиском. Плита, що випускається на заводі, має розміри 18*3,5м.",
        "4. Наприкінці процесу, CLT-панелі обрізаються, шліфуються та обробляються на верстаті, з програмним забезпеченням, до точних розмірів та форми (за проектом), що максимально спрощує складання та встановлення на місці зведення будівлі.",
      ],
      "l",
      "movable-right"
    );

    addLine("../static/assets/clt-house-2.jpg", "Енергоефективність", [
      "Будинки, збудовані з CLT, зазвичай споживають менше енергії завдяки хорошій теплоізоляції. Це призводить до зменшення витрат на опалення та охолодження будівлі. У будинку підтримується стабільна температура, незалежно від зовнішніх факторів, завдяки низькій природній теплопровідності (0,13 Вт/мК) і високій теплоємності (2,10 кДж/кг).",
      "Для України, перехресно-клеєні дерев’яні панелі CLT – є новим продуктом, але вони вже завоювали величезну популярність у Європі та США. Цей інноваційний матеріал має ряд переваг, включаючи: міцність, екологічність та різноманітність в архітектурних рішеннях.",
    ]);

    addBlock(
      "../static/assets/clt-tech-3.jpg",
      "Швидкість будівництва",
      "CLT – це матеріал, який швидко монтується, завдяки завчасній підготовці деталей будівлі на заводі, по розробленому архітекторами проєкту. Деталі вирізаються на високоточних станках з програмним забезпеченням, а для їх монтажу необхідна мінімальна кількість монтажників та механізмів. Дім загальною площею 136 м2 було побудовано всього за 7 днів, включаючи повне внутрішнє оздоблення.",
      "l",
      "movable-left"
    );

    addLine(
      "../static/assets/clt-house-2.jpg",
      "Відсутність усадки",
      "CLT-панелі мають вражаюче співвідношення міцності та ваги, що робить їх придатними для широкого спектру будівельних робіт. Вони мають відмінну несучу здатність, що дозволяє будувати високі багатоповерхові будівлі та великі прольоти. Панелі CLT також демонструють високу стабільність, без ризику усадки, скручування чи деформації."
    );

    addBlock(
      "../static/assets/clt-tech-4.jpg",
      "Міцність",
      "Панелі CLT складаються з трьох, п’яти, семи або дев’яти шарів дошок із цільної деревини хвойних порід. Кожен шар розміщується ортогонально щодо наступного, створюючи перехресне розташування. Саме завдяки цьому забезпечується міцність і жорсткість у кількох напрямках, що робить CLT-панелі дуже стійкими до навантажень та тиску.",
      "l",
      "movable-right"
    );

    addLine(
      "../static/assets/clt-house-2.jpg",
      "Екологічність",
      "Екологічність панелей CLT обумовлена тим, що вони виготовлені з деревини, яка вловлює та консервує вуглекислий газ CO2. Це призводить до зменшення вуглецевого сліду, порівняно з традиційними будівельними матеріалами, такими як бетон або сталь. Крім того, виробничий процес вимагає менше енерговитрат і, відповідно, виробляє менше викидів парникових газів. CLT дозволяє замінити вуглецеві матеріали в будівництві, сприяючи збереженню навколишнього середовища."
    );

    addBlock(
      "../static/assets/clt-tech-5.jpg",
      "Естетичність",
      [
        "Панелі CLT надають архітекторам та дизайнерам широкі можливості для втілення будь-яких стилів та гнучкість в архітектурних рішеннях. Панелі можна підготувати для створення вигнутих або кутастих форм, що дозволяє проектувати унікальні, естетично привабливі конструкції.",
        "З урахуванням відсутності специфічних вимог щодо призначення вашого проекту, пропонуємо залишати попередньо шліфовані та покриті спеціальною фарбою CLT панелі у неоздобленому вигляді. Це сприятиме збереженню природної краси та структури дерева, а разом з тим матиме екологічний аспект й суттєво заощадить ваш бюджет на внутрішнє оздоблення.",
      ],
      "l",
      "movable-left"
    );

    addLine(
      "../static/assets/clt-tech-5.jpg",
      "Економічність",
      "CLT вражає своєю економічністю. Панелі виготовляються на виробництві, а не на вашій ділянці, що робить будівництво швидшим та ефективнішим. Вони виготовлені з високою точністю, з урахуванням усіх необхідних отворів під комунікації, штроб і прорізів, що допомагає уникнути великої кількості відходів на будівництві. Також, завдяки малій вазі панелей, їх легко транспортувати та складати, що зменшує час та зусилля, потрібні для збірки будинку, і спрощує логістику."
    );

    addBlock(
      "../static/assets/clt-tech-5.jpg",
      "Проєкти під ключ",
      [
        `Наша компанія спеціалізується на реалізації проєктів
“ПІД КЛЮЧ”, що включає в себе весь спектр робіт та послуг від розробки концепції та проєктування до будівництва.`,
        "Ми пропонуємо повний цикл послуг: консультації, проєктування, будівництво та його оптимізацію з використанням CLT, а також послуги супервайзера та Шеф-монтаж.",
        "З CLT можна побудувати приватні будинки, з застосуванням сучасних архітектурних рішень. Будівництво з CLT – це швидкий процес, який дозволяє майбутньому власнику втілити своє розуміння простору і уявлення про дизайн.",
      ],
      "l",
      "movable-right"
    );
  </script>
</main>
{% endblock %}
