{% extends "base.html" %}

{% block title %}
  <title>Головна - Babylon</title>
{% endblock %}

{% block content %}
  <main id="main">
    {% include "components/_main-image.html" %}

    <!-- "Why CLT house is" card -->
    {% include "./components/main-page/_sec_1.html" %}

    <!-- "Our services" card -->
    <section id="card_2">
      <h1>НАШІ ПОСЛУГИ</h1>
      <div id="list-container">
        <div class="list-col"></div>
        <div class="list-col"></div>
      </div>
    </section>

    <!-- "Our Projects" section -->
    {% include "./components/main-page/_sec_3.html" %}
  </main>
{% endblock %}