{% extends "base.html" %} {% block title %}<title>
  Проєкт {{ project.name }} - Babylon</title
>{% endblock %} {% block content %}
<!-- The first image of the project as the head image -->
<header class="big-image" style="background-image: url('{{ project.images["1"] }}')">
  <div class="darkener">
    <div class="heading-set">
      <h1 class="big-image-text">{{ project.name }}</h1>
      <h2>{{ project.square }}</h2>
    </div>
  </div>
</header>

<main id="project-page">
  <!-- Title of the project -->
  {% include "components/project-page/_title-sec.html" %}

  <!-- All images of the project as clickable cards -->
  {% include "components/project-page/_proj-imgs.html" %}

  <!-- Physic parameters of the project -->
  {% include "components/project-page/_proj-params.html" %}

  <!-- Description of the project as separated paragraphs -->
  {% include "components/project-page/_proj-desc.html" %}

  <!-- Blueprint or blueprintS of the project -->
  {% include "components/project-page/_proj-bps.html" %}

  <a id="order-btn" href="/contact">Замовити</a>

  <script>
    const bigImage = document.querySelector(".big-image");
  </script>
</main>
{% endblock %}
