{% extends "base.html" %} {% block title %}<title>
  Камʼяні Будинки - Babylon</title
>{% endblock %} {% block content %}
<main id="stone-houses-page">
  <section class="main-image">
    <h1 class="section-heading">КАМʼЯНІ БУДИНКИ</h1>
  </section>

  <!-- Import the page content builder algorithm -->
  <script src="../static/scripts/content-builder.js"></script>

  <!-- Build page contents by calls to the builder functions -->
  <script>
    currentPageID = "stone-houses-page";

    addBlock(
      "../static/assets/stone-house-1.jpg",
      "Будівництво будинків з цегли",
      [
        "Наша компанія спеціалізується на будівництві одно- і двоповерхових будинків із цегли. Такі будівлі вважаються символом міцності та довговічності протягом багатьох років.",
        "Ми забезпечуємо повний спектр послуг, включаючи фундамент, зведення стін, перекриття та земельні роботи. Особливу увагу ми приділяємо оздобленню як зовнішньому, так і внутрішньому.",
        "А також пропонуємо послуги “під ключ”, включаючи монтаж будь-якого типу покрівлі, систем опалення та водопостачання, вентиляції та кондиціонування, а також монтаж дверей і віконних блоків.",
      ],
      "l",
      "movable-left"
    );

    addLine(
      "../static/assets/stone-house-bg-1.jpg",
      "Цегла",
      "Наші кваліфіковані фахівці завжди проводять геологічні та геодезичні дослідження перед початком будівництва. Це дає можливість будувати різноманітні будівлі, від одноповерхових цегляних будинків до багатоквартирних висоток, готелів та інших споруд. Однією з головних переваг цегляних будинків є їх міцність та надійність, оскільки матеріал витримує колосальні навантаження!"
    );

    addBlock(
      "../static/assets/stone-house-2.jpg",
      "Будівництво будинків з газоблоку",
      [
        "Ми спеціалізуємося на будівництві приватних будинків і котеджів з газобетону “під ключ”. Газобетон відомий своєю стійкістю до морозу, що дозволяє забезпечити ефективну теплоізоляцію і зекономити на додатковому опаленні.",
        "Цей матеріал має численні переваги:",
        `    Ідеальний мікроклімат завдяки ефективній паропроникності.
    Висока звукоізоляція.
    Стійкість до цвілі, грибків і бактерій.
    Вогнестійкість.`,
      ],
      "l",
      "movable-right"
    );

    addLine(
      "../static/assets/stone-house-bg-2.jpg",
      "Газобетон",
      "Газобетон, виготовлений з екологічних матеріалів, часто використовується в будівництві музичних студій або стін на пожежонебезпечних ділянках завдяки своїм перевагам. Висока теплоізоляція, вологостійкість і морозостійкість особливо цінуються в регіонах з холодними зимами. Легка вага і рівність сторін матеріалу дозволяють завершувати будівництво газобетонних будинків значно швидше."
    );

    addBlock(
      "../static/assets/stone-house-3.jpg",
      "Будівництво будинків з піноблоків",
      "Піноблоки – популярний будівельний матеріал в Україні, оскільки вони мають ті ж властивості, що і газоблоки або цегла, але за доступною ціною. Часто їх використовують у будівництві оздоровчих санаторіїв і дитячих установ, оскільки вони не містять хімічних речовин, що можуть негативно впливати на здоров’я. Додатково, ціна на будівництво одноповерхових будинків з піноблоків приємно здивує вас.",
      "l",
      "movable-left"
    );

    addLine("../static/assets/stone-house-bg-3.jpg", "Піноблок", [
      "Піноблок – універсальний будівельний матеріал, який виготовляється шляхом змішування спеціальної піни, піску, цементу і води. Він забезпечує оптимальну вологість і комфортні екологічні умови для проживання.",
      "Будівництво приватного будинку з піноблоків «під ключ» відрізняється простотою і швидкістю кладки, а також стандартними зазорами між блоками, які не перевищують 3 мм, що дозволяє використовувати спеціальний клей замість цементно-піщаного розчину, а це в свою чергу значно економить витрати.",
    ]);

    addBlock(
      "../static/assets/stone-house-4.jpg",
      "Будівництво із керамічних блоків",
      [
        `	

Керамоблок на ринку України з’явився через кілька років після виходу газоблоку. Керамічні блоки набагато тепліші, ніж звична всім цегла. Керамоблок, як і газоблок, кладеться на теплий розчин, таким чином унеможливлються поява містків холоду (промерзання по кутах).`,
        "Ми будуємо будинок з керамічних блоків по ряду об’єктивних причин:",
        `    Економія тепла, електрики, газу в майбутньому для господаря;
    Оптимальний час встановлення блоків, кожен з яких замінює 12 важких цеглин
    Завдяки пазам і гребеням, проводиться ідеальна підгонка стін і точні геометричні розрахунки.`,
      ],
      "l",
      "movable-right"
    );

    addLine(
      "../static/assets/stone-house-bg-4.jpg",
      "Керамоблок",
      "Будинок із керамічних блоків не потребує додаткового утеплення зовнішніх стін, оскільки вони мають велику міцність та витривалість до морозу, а також, за необхідності, навантажень міжповерхового перекриття. Керамоблоки виготовляються з натуральної глини з додаванням дерев’яної тирси, яка під час випалу вигорає, утворюючи порожнечі у блоках, цим самим надаючи їм вищезгадані властивості."
    );
  </script>
</main>
{% endblock %}
