#contact-form {
  input,
  textarea {
    border: none;
    box-shadow: 0 0 12px #0006;
    font-family: "Roboto";
    border-radius: 8px;
    outline-style: none;
    background-color: #0867e460;
  }
  ::placeholder {
    color: black;
  }

  input[type="submit"] {
    color: black;
    background-color: #eecc54;
  }
}

/* Mobile */
@media (min-width: 300px) {
  #contact-form {
    display: flex;
    flex-direction: column;

    padding: 16px;
    row-gap: 32px;

    input,
    textarea {
      padding: 16px;
      font-size: 24px;
    }

    input[type="submit"] {
      font-size: 30px;
      margin-top: 26px;
    }
  }
}

/* Tablets */
@media (min-width: 481px) {
  #contact-form {
    padding: 26px;
    row-gap: 46px;

    input,
    textarea {
      padding: 20px;
      font-size: 26px;
    }

    input[type="submit"] {
      font-size: 32px;
    }
  }
}

/* Small Desktop */
@media (min-width: 769px) {
  #contact-form {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    column-gap: 24px;
    row-gap: 36px;
    padding: 46px;

    input,
    textarea {
      padding: 12px;
      font-size: 22px;
    }

    input[type="submit"] {
      font-size: 22px;
    }
  }
}

/* Large desktops */
@media (min-width: 1025px) {
}

/* TVs and extra large screens */
@media (min-width: 1201px) {
}
