.dropdown-disabled {
  display: none;
}

.dropdown-enabled {
  z-index: 100;

  position: absolute;

  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100%;
  
  backdrop-filter: blur(6px);
  background-color: rgba(220, 220, 245, 0.4);

  ul {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

/* Mobile */

/* Tablets */

/* Small Laptops */

/* Large Desktops */

/* TVs and large screens */