#container {
  position: relative;

  width: 100%;
  overflow: hidden;

  background-size: cover;
  background-image: url("../../assets/main-img.jpg");
  background-repeat: no-repeat;

  #mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(20, 20, 60, 0.4);

    h1 {
      position: absolute;

      color: white;
      font: {
        weight: bold;
        family: "Roboto Condensed";
      }
    }
  }
}

/* Mobile */
@media (min-width: 300px) {
  #container {
    height: 500px;
    h1 {
      left: 20px;
      bottom: 20px;

      width: 420px;
      font-size: 30px;
      line-height: 35px;
    }
  }
}

/* Tablets */
@media (min-width: 481px) {
  #container {
    height: 600px;
    h1 {
      left: 25px;
      bottom: 30px;

      width: 480px;
      font-size: 36px;
      line-height: 46px;
    }
  }
}

/* Small Desktop */
@media (min-width: 769px) {
  #container {
    height: 650px;
    h1 {
      left: 20px;
      bottom: 20px;

      width: 480px;
      font-size: 36px;
      line-height: 46px;
    }
  }
}

/* Large Desktop */
@media (min-width: 1025px) {
  #container {
    h1 {
      left: 20px;
      bottom: 20px;

      width: 620px;
      font-size: 42px;
      line-height: 52px;
    }
  }
}

/* TVs and extra large screens */
@media (min-width: 1201px) {
  #container {
    height: 700px;

    h1 {
      left: 25px;
      bottom: 25px;

      width: 820px;
      font-size: 52px;
      line-height: 52px;
    }
  }
}
