@import "_utils";

#navbar {
  @include padding-x(60px);
  position: sticky;
  top: 0;

  display: flex;
  // align-items: center;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  height: 120px;
  z-index: 100;

  backdrop-filter: blur(12px);

  #logo {
    width: 200px;
  }

  #nav-links {
    display: flex;
    flex-direction: row;

    a {
      display: flex;
      align-items: center;

      color: black;
      @include padding-x(16px);
      text-decoration: none;
      background-color: transparent;

      transition: background-color 0.3s ease-in-out;

      font: {
        size: 36px;
        family: "Arsenal SC";
      }
    }:hover {
      color: white;
      background-color: #03142ab0;
    }
  }
}

@media (min-width: 500px) {
  #navbar {
    height: 80px;

    #logo {
      width: 120px;
    }

    #nav-links {
      display: none;
    }

    #dropdown-button {
      display: block;
    }
  }
}

@media (min-width: 800px) {
  #navbar {
    height: 100px;

    #logo {
      width: 160px;
    }

    #nav-links {
      display: flex;
    }

    #dropdown-button {
      display: none;
    }
  }
}