#sec_3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;

  #list-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  strong,
  li {
    font-family: "Roboto Condensed";
  }

  .list-col {
    display: flex;
    flex-direction: column;

    .service-card {
      color: white;
      box-shadow: 0 0 16px #2226;
      border-radius: 4px;
      background-image: linear-gradient(to bottom right, #02280cd6, #5e5d23d6);
      // background-color: #3b3b3bd6;
    }
  }
}

/* Mobile */
@media (min-width: 300px) {
  #sec_3 {
    #list-container {
      flex-direction: column;
      row-gap: 20px;
    }

    .list-col {
      row-gap: 40px;
      padding: 12px;

      .service-card {
        padding: 6px;
      }

      strong {
        font-size: 22px;
        margin-left: 16px;
      }

      ul {
        margin-left: 36px;

        li {
          font-size: 20px;
        }
      }
    }
  }
}

/* Small Desktop */
@media (min-width: 769px) {
  #sec_3 {
    #list-container {
      align-items: stretch;
      flex-direction: row;

      .list-col {
        justify-content: stretch;
      }

      .service-card {
        height: 260px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        strong {
          font-size: 28px;
        }

        li {
          font-size: 24px;
        }
      }
    }
  }
}
