<div id="cookies-box">
  <div id="cookies-text">
    <h1>Ми цінуємо Вашу конфіденційність</h1>
    <p>
      Ми використовуємо файли Cookies задля Вашої конфіденційності та якісті
      роботи нашого веб-сайту для Вас.
    </p>
    <p>
      Необхідні для функціональності нашого веб-сайту файли Cookies, завжди
      зберігаються та керуються нами, для покращення роботи з Вами.
    </p>
    <strong>Чи погоджуєтесь Ви з політикою конфіденційності?</strong>
  </div>
  <div id="cookies-btns">
    <button class="reject-btn">Відхиляю</button>
    <button class="consent-btn">Погоджуюсь</button>
  </div>
</div>

<script src="../../static/scripts/cookies.js"></script>
