<footer id="footer">
  <section id="footer-logos">
    <img id="main-logo" src="../../../static/assets/logo.png" />

    <div id="sponsor-logos">
      <img src="../../static/assets/ISO.png" />
      <img src="../../static/assets/FSC.png" />
    </div>
  </section>

  <section id="footer-contacts">
    <!-- Traditional contacts (tel, E-Mail, location) -->
    <div id="contacts">
      <h1>Контакти</h1>

      <!-- Telephone number -->
      <div class="contact">
        <img src="../../static/assets/telephone.png" />
        <a href="tel: 3800672102244">+38 (067) 210 22 44</a>
      </div>

      <!-- E-Mail address -->
      <div class="contact">
        <img src="../../static/assets/email.png" />
        <a href="mailto: office@bk-babylon.com">office@bk-babylon.com</a>
      </div>

      <!-- Physical address of the office -->
      <div class="contact">
        <img src="../../static/assets/location.png" />
        <address>м. Київ, проспект Валерія Лобановського 4Б</address>
      </div>
    </div>

    <!-- Links to social media accounts -->
    <div id="social-media">
      <!-- Facebook icon -->
      <a
        href="https://www.facebook.com/people/%D0%91%D1%83%D0%B4%D1%96%D0%B2%D0%B5%D0%BB%D1%8C%D0%BD%D0%B0-%D0%BA%D0%BE%D0%BC%D0%BF%D0%B0%D0%BD%D1%96%D1%8F-BK-Babylon/61558667284741/"
      >
        <img src="../../static/assets/fb-icon.png" />
      </a>

      <!-- Instagram icon -->
      <a href="https://www.instagram.com/bk.babylon">
        <img src="../../static/assets/insta-icon.png" />
      </a>

      <!-- Telegram icon -->
      <a href="https://t.me/bkbabylon">
        <img src="../../static/assets/telegram-icon.png" />
      </a>
    </div>
  </section>
  <section>
    <p id="copyright">Copyright © 2024 Bk-babylon | Powered by Bk-babylon</p>
  </section>
</footer>
