<!-- Import scripts for the navbar -->
<script src="../static/scripts/navbar.js"></script>

<nav id="navbar">
  <!-- Logo works as link to the home page -->
  <a href="/">
    <img id="logo" src="../static/assets/logo.png" />
  </a>

  <!-- Links to site pages -->
  <div id="nav-links">
    <a href="/about">Про Нас</a>
    <a href="/contact">Звʼяжіться З Нами</a>
    <a href="/projects">Проєкти</a>
  </div>

  <!-- Dropdown menu - disabled on desktop and available only on mobile and tablet screens -->
  <button id="hamburger" onclick="toggleDropdown()">
    <i id="hamburger-icon" class="menuIcon material-icons">menu</i>
  </button>
</nav>
