<section id="form-container">
  <h1 class="section-heading">
    Для отримання детальної інформації, будь ласка, заповніть коротку форму.
  </h1>
  <h2>
    Наші спеціалісти звʼяжуться з вами найближчим часом для надання консультації
  </h2>

  <form id="contact-form">
    <input type="text" name="f-name" placeholder="Імʼя" />

    <input type="text" name="l-name" placeholder="Прізвище" />

    <input type="email" name="email" placeholder="E-mail" />

    <input type="tel" name="phone" placeholder="Телефон" />

    <textarea type="text" name="message" placeholder="Повідомлення"></textarea>

    <!-- Submit button -->
    <input class="link-btn" type="submit" value="Надіслати" />
  </form>
</section>
