<section id="sec_3">
  <h1 class="section-heading">НАШІ ПОСЛУГИ ВКЛЮЧАЮТЬ:</h1>
  <div id="list-container">
    <!-- List column #1 -->
    <div class="list-col">
      <div class="service-card">
        <strong>Підготовка ділянки та планування</strong>
        <ul>
          <li>Очищення будівельного майданчика</li>
          <li>Проведення геодезичних і геологічних досліджень</li>
          <li>Розробка та затвердження проекту будинку</li>
        </ul>
      </div>

      <div class="service-card">
        <strong>Фундаментні роботи</strong>
        <ul>
          <li>Розмітка фундаменту</li>
          <li>Риття котловану</li>
          <li>Заливка або укладання фундаменту</li>
        </ul>
      </div>

      <div class="service-card">
        <strong>Зведення стін та перекриттів</strong>
        <ul>
          <li>Монтаж зовнішніх стін</li>
          <li>Установка внутрішніх перегородок</li>
          <li>Монтаж міжповерхових перекриттів</li>
        </ul>
      </div>

      <div class="service-card">
        <strong>Монтаж даху</strong>
        <ul>
          <li>Установка кроквяної системи</li>
          <li>Укладка покрівельного матеріалу</li>
          <li>Встановлення водостоків та інших елементів покрівлі</li>
        </ul>
      </div>

      <div class="service-card">
        <strong>Установка вікон та дверей</strong>
        <ul>
          <li>Монтаж віконних рам та склопакетів</li>
          <li>Встановлення зовнішніх та внутрішніх дверей</li>
        </ul>
      </div>
    </div>

    <!-- List column #2 -->
    <div class="list-col">
      <div class="service-card">
        <strong>Інженерні комунікації</strong>
        <ul>
          <li>Проведення електромонтажних робіт</li>
          <li>Установка системи водопостачання та каналізації</li>
          <li>Монтаж системи опалення та вентиляції</li>
        </ul>
      </div>

      <div class="service-card">
        <strong>Внутрішні оздоблювальні роботи</strong>
        <ul>
          <li>Штукатурка та шпаклювання стін</li>
          <li>Укладка підлогового покриття</li>
          <li>Малярні роботи та укладання плитки</li>
        </ul>
      </div>

      <div class="service-card">
        <strong>Оздоблення зовнішнього фасаду</strong>
        <ul>
          <li>Установка зовнішнього утеплення</li>
          <li>Малярні роботи</li>
        </ul>
      </div>

      <div class="service-card">
        <strong>Благоустрій території</strong>
        <ul>
          <li>Укладка тротуарної плитки або асфальтування</li>
          <li>Озеленення території</li>
          <li>Установка огорожі та воріт</li>
        </ul>
      </div>

      <div class="service-card">
        <strong>Фінальні перевірки та здача об’єкту</strong>
        <ul>
          <li>Перевірка усіх систем тп комунікацій</li>
          <li>Отримання сертифікатів відповідності та дозволів</li>
          <li>Передача ключів замовнику</li>
        </ul>
      </div>
    </div>
  </div>
</section>
