<section id="sec_3" class="page-section movable-right">
  <h1 class="section-heading">НАШІ ПОСЛУГИ ВКЛЮЧАЮТЬ:</h1>

  <div class="services">
    <article
      class="service-card"
      style="background-image: url('../../../static/assets/services/ser-1.jpg')"
    >
      <div style="background-color: rgba(0, 85, 10, 0.6)">
        <h1>Підготовка ділянки та планування</h1>
        <ul>
          <li>Очищення будівельного майданчика</li>
          <li>Проведення геодезичних і геологічних досліджень</li>
          <li>Розробка та затвердження проекту будинку</li>
        </ul>
      </div>
    </article>

    <article
      class="service-card"
      style="background-image: url('../../../static/assets/services/ser-2.jpg')"
    >
      <div style="background-color: rgba(205, 16, 60, 0.6)">
        <h1>Фундаментні роботи</h1>
        <ul>
          <li>Розмітка фундаменту</li>
          <li>Риття котловану</li>
          <li>Заливка або укладання фундаменту</li>
        </ul>
      </div>
    </article>
  </div>

  <a class="link-btn" href="/about">Оглянути більше</a>
</section>
