<section
  id="sec_4"
  class="big-image movable-left"
  style="background-image: url(../../../static/assets/construction-site.jpg)"
>
  <div
    class="darkener"
    style="
      top: 0;
      background-image: none;
      background-color: rgba(20, 20, 20, 0.6);
    "
  >
    <div class="big-image-text-set" style="bottom: 0; top: 42px">
      <strong>
        Ми – сучасна компанія, що повністю орієнтована на європейську якість.
      </strong>
      <p>
        Технологія будівництва дозволяє виконати замовлення будь-якої складності
        та задовольнити потреби навіть найвибагливіших клієнтів.
      </p>

      <strong>
        Наша компанія пропонує продукцію, яка повністю сертифікована відповідно
        до міжнародних стандартів.
      </strong>
      <p>Ми готові виконати монтаж будівництва як в Україні, так і у Європі!</p>

      <strong> Ви отримаєте готове житло за мінімальні терміни, </strong>
      <p>з високою якістю та помірними цінами.</p>
    </div>

    <div class="link-btn-container">
      <a class="link-btn" href="/about">Читати далі</a>
    </div>
  </div>
</section>
