<section id="sec_3" class="page-section">
  <h1 class="section-heading">НАШІ ПОСЛУГИ ВКЛЮЧАЮТЬ:</h1>

  <div class="short-list-container">
    <div class="service-card">
      <strong>Підготовка ділянки та планування</strong>
      <ul>
        <li>Очищення будівельного майданчика</li>
        <li>Проведення геодезичних і геологічних досліджень</li>
        <li>Розробка та затвердження проекту будинку</li>
      </ul>
    </div>

    <div class="service-card">
      <strong>Фундаментні роботи</strong>
      <ul>
        <li>Розмітка фундаменту</li>
        <li>Риття котловану</li>
        <li>Заливка або укладання фундаменту</li>
      </ul>
    </div>
  </div>
</section>
