<section id="sec_4" class="movable-left">
  <img src="../../../static/assets/construction-site.jpg" />

  <div class="text-container">
    <strong>
      Ми – сучасна компанія, що повністю орієнтована на європейську якість.
    </strong>
    <p>
      Технологія будівництва дозволяє виконати замовлення будь-якої складності
      та задовольнити потреби навіть найвибагливіших клієнтів.
    </p>

    <strong>
      Наша компанія пропонує продукцію, яка повністю сертифікована відповідно до
      міжнародних стандартів.
    </strong>
    <p>Ми готові виконати монтаж будівництва як в Україні, так і у Європі!</p>

    <strong> Ви отримаєте готове житло за мінімальні терміни, </strong>
    <p>з високою якістю та помірними цінами.</p>
  </div>

  <div class="link-btn-container movable-left">
    <a class="link-btn" href="/about">Читати Більше</a>
  </div>
</section>
