@import "../../utils";

.block {
  width: 100%;
  display: flex;
  align-items: center;

  img {
    width: 100%;
  }

  div {
    display: flex;
    flex-direction: column;

    .block-heading,
    p {
      color: black;
      font-family: "Roboto";
    }
  }
}

/* Mobile */
@media (min-width: 300px) {
  .block {
    @include margin-y(20px);
    padding: 16px;

    flex-direction: column;
    row-gap: 16px;

    .block-heading {
      font-size: 26px;
    }

    p {
      padding: 12px;
      font-size: 20px;
    }
  }
}

/* Tablets */
@media (min-width: 481px) {
  .block {
    @include margin-y(40px);
    padding: 32px;

    img {
      width: 80%;
    }

    p {
      padding: 16px;
      font-size: 26px;
    }
  }
}

/* Small Desktop */
@media (min-width: 769px) {
  .block {
    @include margin-y(60px);
    padding: 22px;

    align-items: stretch;
    flex-direction: row;
    column-gap: 20px;

    div {
      row-gap: 20px;
    }

    p {
      width: 360px;
      padding: 0;
      font-size: 20px;
    }
  }
}

/* Large desktops */
@media (min-width: 1025px) {
  .block {
    @include margin-y(80px);

    div {
      row-gap: 30px;
    }

    p {
      width: 600px;
      font-size: 24px;
    }
  }
}

/* TVs and extra large screens */
@media (min-width: 1201px) {
  .block {
    @include margin-y(100px);

    div {
      row-gap: 40px;
    }

    p {
      width: 800px;
      font-size: 26px;
    }
  }
}
