.link-btn {
  // Centered at X-axis
  margin-left: auto;
  margin-right: auto;

  color: gold;
  border: none;
  box-shadow: 0 0 16px #ddfc;
  border-radius: 4px;
  backdrop-filter: blur(24px);
  text-decoration: none;
  background-color: #222c;
}

/* Mobile */
@media (min-width: 300px) {
  .link-btn {
    width: 160px;
    padding: 16px;
    font-size: 24px;
  }
}

/* Tablets */
@media (min-width: 481px) {
  .link-btn {
    width: 180px;
    padding: 10px;
    font-size: 32px;
  }
}

/* Small Desktop */
@media (min-width: 769px) {
  .link-btn {
    width: 260px;
    font-size: 42px;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
    &:hover {
      color: black;
      box-shadow: 0 0 16px #222c;
      background-color: gold;
    }
  }
}
