.section-heading {
  color: #242424df;
  text-align: center;
  font-family: "Roboto";
}

@media (min-width: 300px) {
  .section-heading {
    padding: 6px;
    font-size: 26px;
    margin-bottom: 20px;
    letter-spacing: 1px;
  }
}

@media (min-width: 481px) {
  .section-heading {
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: 2px;
  }
}
