.big-image-container {
  position: relative;

  background-color: #2262;
}

.big-image {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  opacity: 1;
  transition: opacity 0.3s linear;
  overflow-y: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.darkener {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  bottom: 0;

  height: 100%;
  background-image: linear-gradient(to top, #2262, transparent);
}

.big-image-text,
.big-image-text-set {
  position: absolute;

  width: 100%;
  color: white;
  text-align: center;
}

.big-image-text {
  font: {
    weight: 700;
    family: "Arsenal SC", "Montserrat", "Oswald";
  }
}

.big-image-text-set {
  position: absolute;
  bottom: 32px;

  display: flex;
  flex-direction: column;

  width: 100%;
  color: white;
}

.link-btn-container {
  position: absolute;

  width: 100%;
  text-align: center;
}

.project-heading {
  position: absolute;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    color: white;
    font: {
      weight: 800;
      family: "Roboto Condensed", "Arsenal SC";
    }
  }

  h2 {
    color: #56ef56;
    font: {
      weight: 600;
      family: "Oswald", "Arsenal SC";
    }
  }
}

/* Mobile */
@media (min-width: 300px) {
  .big-image-container {
    height: 100%;
  }

  .big-image {
    height: 100%;
  }

  .darkener {
    background-image: linear-gradient(to top, #223c, transparent);
  }

  .big-image-text {
    @include padding-x(20px);
    bottom: 24px;
    font-size: 24px;
    line-height: 45px;
  }

  .big-image-text-set {
    @include padding-x(16px);

    row-gap: 20px;

    p {
      font-size: 22px;
    }

    strong {
      font-size: 26px;
    }
  }

  .link-btn-container {
    bottom: 46px;
  }

  .project-heading {
    @include padding-x(20px);

    bottom: 56px;

    h1 {
      font-size: 36px;
    }

    h2 {
      font-size: 26px;
    }
  }
}

/* Tablets */
@media (min-width: 481px) {
  .big-image-container {
    height: 100%;
  }

  .big-image {
    height: 100%;
  }

  .big-image-text-set {
    @include padding-x(26px);
    top: 64px;

    row-gap: 20px;
  }

  .link-btn-container {
    position: absolute;
    bottom: 60px;

    width: 100%;

    text-align: center;
  }

  .project-heading {
    bottom: 50px;

    h1 {
      font-size: 42px;
    }

    h2 {
      font-size: 30px;
    }
  }
}

@media (min-width: 560px) {
  .project-heading {
    @include padding-x(36px);

    h1 {
      font-size: 52px;
    }

    h2 {
      font-size: 40px;
    }
  }
}

/* Small Desktop */
@media (min-width: 769px) {
  .big-image-container {
    height: 100%;
  }

  .big-image {
    height: 100%;
  }

  .big-image-text {
    @include padding-x(42px);
    bottom: 62px;
    font-size: 50px;
    line-height: 64px;
  }

  .big-image-text-set {
    @include padding-x(46px);
    top: 86px;

    row-gap: 20px;

    p {
      font-size: 26px;
    }

    strong {
      font-size: 30px;
    }
  }

  .link-btn-container {
    position: absolute;
    bottom: 80px;

    width: 100%;

    text-align: center;
  }

  .project-heading {
    @include padding-x(42px);
    bottom: 120px;

    h1 {
      font-size: 52px;
    }

    h2 {
      font-size: 40px;
    }
  }
}

/* Large desktops */
@media (min-width: 1025px) {
  .big-image {
    height: 100%;
  }

  .big-image-text {
    @include padding-x(72px);
    bottom: 36px;
    font-size: 56px;
    line-height: 76px;
  }

  .big-image-text-set {
    @include padding-x(42px);
    @include padding-y(36px);

    p {
      font-size: 28px;
    }

    strong {
      font-size: 32px;
    }
  }

  .link-btn-container {
    position: absolute;
    bottom: 100px;

    width: 100%;

    text-align: center;
  }

  .project-heading {
    @include padding-x(32px);
    bottom: 46px;

    h1 {
      font-size: 62px;
    }

    h2 {
      font-size: 50px;
    }
  }
}

/* TVs and extra large screens */
@media (min-width: 1201px) {
  .big-image {
    height: 100%;
  }

  .big-image-text {
    @include padding-x(46px);
    bottom: 52px;
    font-size: 64px;
    line-height: 86px;
  }

  .big-image-text-set {
    @include padding-x(102px);
    @include padding-y(32px);

    row-gap: 30px;

    p {
      font-size: 32px;
    }

    strong {
      font-size: 36px;
    }
  }

  .link-btn-container {
    position: absolute;
    bottom: 36px;

    width: 100%;

    text-align: center;
  }

  .project-heading {
    bottom: 64px;

    h1 {
      font-size: 72px;
    }

    h2 {
      font-size: 62px;
    }
  }
}
